/* General setup */

:root {
  --rbg-primary-color: 170, 102, 102;
  --secondary-color: #5a7a97;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid rgb(var(--rbg-primary-color));
  border-bottom: 5px solid rgb(var(--rbg-primary-color));
}

/* WRITE YOUR CODE BELOW HERE */
/* General styles */
@font-face {
  font-family: "body-font";
  src: url("fonts/playfair-display/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/playfair-display/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "heading-font";
  src: url("fonts/raleway/Raleway-Bold.woff2") format("woff2"),
    url("fonts/raleway/Raleway-Bold.woff") format("woff");
  font-weight: bold;
}

html {
  font-size: 10px;
}

body {
  font-family: "body-font", "Times New Roman", serif;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "headsing-font", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  word-spacing: normal;
}

h1 {
  font-size: 2.8rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

/* Paragraphs */
section h2+p {
  text-indent: 2rem;
}

/* Links */
a {
  text-decoration: underline;
  outline: none;
}

a[href^="http"] {
  background: url("external-link-52.png") no-repeat 100% 0/1.6rem;
  padding-right: 2rem;
}

a:link {
  color: #985b5b;
}

a:visited {
  color: var(--secondary-color);
}

a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #0400ff;
}

/* Lists */
ul {
  list-style-type: none;
}

ul li {
  padding-left: 2.4rem;
  background: url("images/hat32x24.png") no-repeat 0 50%/1.6rem 1.2rem;
}

li {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Navigation */
nav li {
  background: initial;
  margin: 0;
}

nav a {
  background-color: rgb(var(--rbg-primary-color));
  border-radius: 0.5rem;
  color: white;
  display: block;
  margin: 0.3rem 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

nav a:link,
nav a:visited  {
  color: white;
}

nav a:focus {
  background: linear-gradient(135deg, var(--secondary-color) 10%, #985b5b 10% 90%, var(--secondary-color) 90%);
}

nav a:hover {
  background-color: rgba(var(--rbg-primary-color), 0.95);
  box-shadow: 0.05rem 0.05rem 0.2rem black;
}

nav a:active {
  color: black;
}