:root {
  --base-color: #83d383;
  --darker-base-color: #6e9b6e;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

/* Your CSS below here */
p {
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  /* 1.1rem is a: 1.1 * Font size of root element (There it is 1.1 * 16px = 17.6px) */
  font-size: 1.1rem;
  background-color: var(--base-color);
  background: linear-gradient(0.35turn, transparent, rgba(0, 0, 0, 0.2) 30%),
    var(--base-color);
  color: var(--base-color);
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
  border: 1px solid var(--darker-base-color);
  box-shadow: 4px 4px 5px black, 
    inset 4px 4px 4px rgba(255, 255, 255, 0.5),
    inset -4px -4px 4px rgba(0, 0, 0, 0.5);
}
